@fontBase: Tahoma, Arial, Geneva, Kalimati, sans-serif;
body {
	background-color: #eee;
	font: 12px @fontBase;
}
header {
	background-color: #424242;
	height: 60px;
}
nav {
	.nav {
		margin-bottom: 0px;
	}
	.nav-tabs {
		border: none;
		.active {
			a {
				background-color: #eee;
				color: #000;
				&:hover {
					background-color: #eee;
					color: #000;
				}
			}
		}
		li {
			a {
				color: #eee;
				padding: 5px 14px;
				line-height: 10px;
				&:hover {
					color: #95C7F6;
					background: none;
					border-color: transparent;
				}
			}
		}
	}
}
article {
	.container {
		background-color: #fff;
		margin-top: 2em;
		padding: 1em;
		border-radius: 1em;
		border: 1px solid #ccc;
	}
}
h1 {
	font: bold 2.5em "American Typewriter", "Helvetica Neue", Arial, sans-serif;
	color: #f00;
}
#navigation {
	padding-top: 40px;
}
#logoapi {
	position: relative;
	bottom: 10px;
}
#mymap {
	width: 600px;
	height: 500px;
	.e-map:focus {
                outline: none;
	}
}