@fontBase: Tahoma, Arial, Geneva, Kalimati, sans-serif;
@headerBase: "American Typewriter", "Helvetica Neue", Arial, sans-serif;
@backgroundColor: #f5f4f0;
body {
	background-color: #eee;
	font: 12px @fontBase;
	padding-bottom: 20px;
}
header {
	background-color: #424242;
	height: 60px;
}
article {
	.container {
		background-color: #fff;
		margin-top: 2em;
		padding: 1em;
		border-radius: 1em;
		border: 1px solid #ccc;
	}
}
h1 {
	font: bold 2.5em @headerBase;
	color: #FBFFE3;
}
h2 {
	font: bold 2em @fontBase;
	color: #9E0C39;
}
h4 {
	color: #83A300;
}
#navigation {
	padding-top: 40px;
}
#logoapi {
	position: relative;
	bottom: 35px;
}
#mymap {
	width: 600px;
	height: 385px;
	.e-map:focus {
        outline: none;
	}
	.popupInfo {
		width: 150px;
	}
}
#map {
	width: 300px;
	height: 400px;
	.e-map:focus {
		outline: none;
	}
}
#searchResults {
	img {
		position: relative;
		top: 180px;
		right: -250px;
	}
}
.delivery {
	font: bold 1.8em @fontBase;
}
.vargen {
	background-color: @backgroundColor;
}
.small {
	h1 {
		font-size: 40px;
	}
	padding: 45px;
}